@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* Font size */
  --text-title: 24px;
  --text-title--font-weight: 700;
  --text-title--leading: 32px;

  --text-button: 16px;
  --text-button--font-weight: 500;
  --text-button--leading: 24px;

  --text-paragraph: 16px;
  --text-paragraph--font-weight: 300;
  --text-paragraph--leading: 24px;

  /* Colors */
  --color-primary-50: #fff1f1;
  --color-primary-100: #ffe2e1;
  --color-primary-200: #ffc8c7;
  --color-primary-300: #ffa3a1;
  --color-primary-400: #ff6d6a;
  --color-primary-500: #f7403c;
  --color-primary-600: #e5231f;
  /* */
  --color-primary-700: #c11714;
  --color-primary-800: #9f1815;
  --color-primary-900: #841a18;
  --color-primary-950: #480807;

  --color-secondary-50: #f1f9fe;
  --color-secondary-100: #e2f2fc;
  --color-secondary-200: #bfe3f8;
  --color-secondary-300: #87cef2;
  --color-secondary-400: #47b5e9;
  --color-secondary-500: #1f9bd8;
  --color-secondary-600: #127db7;
  --color-secondary-700: #106394;
  --color-secondary-800: #11557b;
  --color-secondary-900: #144766;
  --color-secondary-950: #0e3048;
  /* */

  --color-background-50: #f8f8f7;
  --color-background-100: #eff0ee;
  --color-background-200: #e4e5e3;
  /* */
  --color-background-300: #bcbfba;
  --color-background-400: #989c94;
  --color-background-500: #7c8077;
  --color-background-600: #656861;
  --color-background-700: #52554f;
  --color-background-800: #464844;
  --color-background-900: #3d3f3b;
  --color-background-950: #262623;
  /* */


  --color-primary-dark: #1E3A8A;
  --color-secondary-dark: #D97706;
  --color-background-dark: #F3F4F6;
  --color-text-dark: #374151;
}